# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
# Your code here:

legendary = pokemon[pokemon['Legendary']==True]['Name'].count()
non_legendary = pokemon[pokemon['Legendary']==False]['Name'].count()
print('Legendary pokemon are a total of: {0} vs Non legendary total of: {1}'.format(legendary, non_legendary))

Legendary pokemon are a total of: 65 vs Non legendary total of: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
# Your code here:
legendary = pokemon[pokemon['Legendary']] # cuando la columna es de valor booleano, el filtro se trae los valores True por defecto
legendary_mean = legendary.Total.describe()['mean']
legendary_std = legendary.Total.describe()['std']

non_legendary = pokemon[pokemon['Legendary']==False]
non_legendary_mean = non_legendary.Total.describe()['mean']
non_legendary_std = non_legendary.Total.describe()['std']

print(legendary_mean, legendary_std, non_legendary_mean, non_legendary_std)

637.3846153846154 60.93738905315344 417.21360544217686 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
# Your code here:

from scipy.stats import ttest_ind

ttest_ind(pokemon[pokemon['Legendary']]['Total'], pokemon[pokemon['Legendary']==False]['Total'], equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [21]:
# Your conclusions here:

# If alpha = 5%, we can conclude that the behaviuour in legendary pokemon vs non legendary is significant
# as p_value is way off low than alpha

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [39]:
# Your code here:

columns = ['Water', 'Non Water']
water_type = pd.DataFrame(data=pokemon[pokemon['Type 1'] == 'Water']['Total'].describe())
non_water_type = pd.DataFrame(data=pokemon[pokemon['Type 1'] != 'Water']['Total'].describe())
data = [water_type, non_water_type]
df = pd.concat(data, axis=1)
df.columns = columns
df['Difference'] = df['Water'] - df['Non Water']
df

            Water   Non Water  Difference
count  112.000000  688.000000 -576.000000
mean   430.455357  435.859012   -5.403654
std    113.188266  121.091682   -7.903416
min    200.000000  180.000000   20.000000
25%    328.750000  330.000000   -1.250000
50%    455.000000  450.000000    5.000000
75%    502.250000  515.000000  -12.750000
max    770.000000  780.000000  -10.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [42]:
# Your code here:

ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'], pokemon[pokemon['Type 1'] != 'Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [43]:
# Your conclusions here:

# If alpha = 5%, we can conclude that the behaviuour in water type pokemon vs non water type is roughly the same
# as p_value is not significantly distanced to water type mean

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [45]:
# Your code here:

from scipy.stats import ttest_rel

ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [46]:
# Your conclusions here:

# If alpha = 5%, we can conclude that there is indeed a significant difference between attack and defense scores for the pokemons
# as p_value is way off low than alpha

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
# Your code here:

ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [48]:
# Your conclusions here:

# If alpha = 5%, we can conclude that there is not a significant difference between special defense and special attack scores for the pokemons
# as p_value is not significantly distanced to special defense mean

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [49]:
# Your code here:

from scipy.stats import ttest_1samp

# Obtaining new column as difference between attack and defense

pokemon['Diff-Att-Def'] = pokemon['Attack'] - pokemon['Defense']

ttest_1samp(pokemon['Diff-Att-Def'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [50]:
# The last code can also be written as a formula inside the ttest_1samp method

ttest_1samp(pokemon['Attack'] - pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [51]:
# Your code here:

contingency_table = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
contingency_table

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [52]:
observed = contingency_table
dof = observed.size - sum(observed.shape) + observed.ndim - 1
dof

1

In [55]:
# Your code here:

from scipy.stats import chi2_contingency

# scipy.stats.chi2_contingency(observed, correction=True, lambda_=None)[source]Â¶

observed = contingency_table
# calculate the degrees of freedom, if dof = 1 then correction = True (default if not specified)
dof = observed.size - sum(observed.shape) + observed.ndim - 1
# in this case: dof = 1
z_statistic, p_value, dof, expected = chi2_contingency(observed, correction=True, lambda_=None)
print(z_statistic)
print(p_value)
print(dof)
print(expected)

2.9429200762850503
0.08625467249550949
1
[[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [56]:
# Your answer here:

# H0 cannot be rejected since p_value is higher than alpha if alpha is 5%