# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas, numpy
from scipy.stats import ttest_rel, ttest_ind, ttest_1samp, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pandas.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.groupby('Legendary').count()['Name']

Legendary
False    735
True      65
Name: Name, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary = pokemon[pokemon.Legendary == True]
print('legendary mean:',numpy.mean(legendary.Total))
print('legendary std:',numpy.std(legendary.Total))

legendary mean: 637.3846153846154
legendary std: 60.46682302213781

In [6]:
noLegendary = pokemon[pokemon.Legendary == False]
print('non-legendary mean:',numpy.mean(noLegendary.Total))
print('non-legendary std:',numpy.std(noLegendary.Total))

non-legendary mean: 417.21360544217686
non-legendary std: 106.68776660321996

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
ttest_ind(noLegendary.Total, legendary.Total)

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
#Hay mucha diferencia de poder entre los pokemones legenarios y no legendarios (Por algo son legendarios...dah!)
#Los legendarios oscilan entre los 570 y 707 de poder y los normales por culpa de los insectos oscilan en 311 y 524.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
pokemon.groupby('Type 1').count().sort_values(by='Name')['Name']

Type 1
Flying        4
Fairy        17
Ice          24
Fighting     27
Steel        27
Poison       28
Dark         31
Ghost        32
Dragon       32
Ground       32
Electric     44
Rock         44
Fire         52
Psychic      57
Bug          69
Grass        70
Normal       98
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:
tipo_agua = pokemon[pokemon['Type 1'] == 'Water']['Total']
print('Media Pkmns tipo agua:',numpy.mean(tipo_agua))

Media Pkmns tipo agua: 430.45535714285717

In [11]:
print('estandar divieishon Pkmns tipo agua:',numpy.std(tipo_agua))

estandar divieishon Pkmns tipo agua: 112.68182832909096

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [12]:
# Your code here:
ttest_1samp(noLegendary.Total, numpy.mean(tipo_agua))

Ttest_1sampResult(statistic=-3.3626281652897787, pvalue=0.0008120762424657492)

Write your conclusion below.

In [13]:
# Your conclusions here:
#La media de los pokemones tipo agua aumenta, porque en promedio los pokemones de agua estan por arriba de otros tipo
# de pokemones, adicional que hay pokemones legendarios tipo Agua, lo que provoca outliers a favor.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [14]:
# Your code here:
ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
#Se rechaza la hipotesis Nula, que indica que los valores de Ataque y Defensa son iguales.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [22]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:
#Se rechaza la hipotesis nula, que indica que los valores especiales son iguales.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [18]:
# Your code here:

print('Confirmo que el resultado es el mismo que ttest_rel:',ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0))

Confirmo que el resultado es el mismo que ttest_rel: Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [19]:
# Your code here:
legendary_water = pandas.crosstab(pokemon.Legendary, pokemon['Type 1']=='Water')
legendary_water

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [20]:
# Your code here:

chi2_contingency(legendary_water)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [21]:
# Your answer here:
#Si se rechaza, por fresa.