# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
# Your code here:
leg_pok_mean = pokemon[pokemon['Legendary']==True]['Total'].mean()
leg_pok_std = pokemon[pokemon['Legendary']==True]['Total'].std()

nor_pok_mean = pokemon[pokemon['Legendary']!=True]['Total'].mean()
nor_pok_std = pokemon[pokemon['Legendary']!=True]['Total'].std()


print(f'The mean and the std of the legendary pokemon are:{leg_pok_mean} and {leg_pok_std} respectively')
print(f'The mean and the std of the normal pokemon are:{nor_pok_mean} and {nor_pok_std} respectively')

The mean and the std of the legendary pokemon are:637.3846153846154 and 60.93738905315344 respectively
The mean and the std of the normal pokemon are:417.21360544217686 and 106.76041745713005 respectively

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
# Your code here:
from scipy.stats import ttest_ind
l = pokemon[pokemon['Legendary']==True]['Total']
n = pokemon[pokemon['Legendary']!=True]['Total']
ttest_ind(l,n,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# The legendary pokemons indeed have a larger value of mean total power 
# than the ones normal. Their stats in general are better.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [21]:
# Your code here:

types = pokemon['Type 1'].value_counts().index

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [43]:
# Your code here:
type_mean_std=[[pokemon[pokemon['Type 1']==types[i]]['Total'].mean(),pokemon[pokemon['Type 1']==types[i]]['Total'].std()]for i in range(len(types))]
data_stats = pd.DataFrame(type_mean_std, columns=['mean','std'])
data_stats['Type'] = pokemon['Type 1'].value_counts().index

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [44]:
# Your code here:
data_stats['Tvalue and Pvalue'] = [ ttest_ind(pokemon[pokemon['Type 1'] =='Water']['Total'], pokemon[pokemon['Type 1'] == types[i]]['Total'], equal_var=False) for i in range(len(types))]
data_stats

,mean,std,Type,Tvalue and Pvalue
0,430.455357,113.188266,Water,"(0.0, 1.0)"
1,401.683673,115.733038,Normal,"(1.815821098911439, 0.07087296322037469)"
2,421.142857,106.650626,Grass,"(0.5596551946732928, 0.5765321903567859)"
3,378.927536,117.875223,Bug,"(2.8997691912424957, 0.004339247893345252)"
4,475.947368,139.026645,Psychic,"(-2.136260187830859, 0.03523602197090331)"
5,458.076923,109.760496,Fire,"(-1.4847959739092542, 0.14067184875994515)"
6,443.409091,105.721952,Electric,"(-0.674879763627711, 0.5016086626729621)"
7,453.750000,108.059227,Rock,"(-1.195350388781308, 0.23538963847033642)"
8,439.562500,110.072685,Ghost,"(-0.41015925664760566, 0.6833985898863386)"
9,437.500000,123.913081,Ground,"(-0.288992718539358, 0.7738632648226808)"
10,550.531250,146.267538,Dragon,"(-4.291278364933748, 0.00010167900952533061)"
11,445.741935,109.126217,Dark,"(-0.6846400898070651, 0.49677440980231913)"
12,399.142857,92.358687,Poison,"(1.5296490458399608, 0.13248389074458197)"
13,487.703704,115.420907,Steel,"(-2.3221165963700066, 0.025544153280825137)"
14,416.444444,102.464378,Fighting,"(0.6245672995517783, 0.5355797052511613)"
15,433.458333,108.281027,Ice,"(-0.12229858755315148, 0.9033693603626256)"
16,413.176471,123.781680,Fairy,"(0.5421729034593387, 0.5936098334072899)"
17,485.000000,161.400124,Flying,"(-0.670034630726686, 0.549286142922238)"

Write your conclusion below.

In [10]:
# Your conclusions here:
# Water pokemon is equally strong than  normal,grass,
#fire, electric, rock, ghost, ground, dark
# poison, fighting, ice, fairy, and flying.

# Water pokemon is more strong than: bug
# Water pokemon is less strong than: psychic, dragon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [46]:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# Attack stat is usually higher than the Defense.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# The special attack is no different than the

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [50]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [53]:
# Your code here:
crosstable = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
crosstable

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [55]:
# Your code here:
from scipy.stats import chi2_contingency

chi2_contingency(crosstable)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
# We shouldn not because the pvalue is 8%
# Wr can conclude that being water doesnt
# affect if you are legendary or not