# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [19]:
# Your code here:
pokemon['legend'] = pokemon['Legendary'].value_counts()

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
# Your code here:
legend = pokemon[pokemon['Legendary'] == True]
no_legend = pokemon[pokemon['Legendary'] == False]

print(legend['Total'].mean())
print(legend['Total'].std())
print(no_legend['Total'].mean())
print(no_legend['Total'].std())

637.3846153846154
60.93738905315346
417.21360544217686
106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [34]:
from scipy.stats import ttest_ind

In [35]:
tots1 = legend['Total']
tots2 = no_legend['Total']

ttest_ind(tots1, tots2)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

'''Al ser menor de 0.5 se rechaza la hipotesis nula'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
# Your code here:
pokemon.groupby(['Type 1']).agg({'Name':'count'})

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [51]:
# Your code here:
h2o = pokemon[pokemon['Type 1'].str.contains('Water')]
print(h2o['Total'].mean())
print(h2o['Total'].std())

others = pokemon[pokemon['Type 1'].str.contains('Water') == False]
print(others['Total'].mean())
print(others['Total'].std())

430.45535714285717
113.18826606431458
435.85901162790697
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [62]:
agua = h2o['Total']
otros = others['Total']

ttest_ind(agua, otros)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [71]:
# Your conclusions here:
'''Al ser mayor de 0.05  no se rechaza la hipotesis nula'''

'Al ser mayor de 0.05  no se rechaza la hipotesis nula'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [65]:
from scipy.stats import ttest_rel

In [67]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)


Debido a que el valor de P es menor a 0.05 entonces rechazamos la hipótesis nula. Esto nos dice que hay una diferencia significativa entre las dos características de esta muestra.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [69]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,lengend,legend
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,735.0,NaN
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,65.0,NaN
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,NaN
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,NaN

In [70]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [72]:
# Your conclusions here:
'''Al ser mayor de 0.05  no se rechaza la hipotesis nula'''

'Al ser mayor de 0.05  no se rechaza la hipotesis nula'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [77]:
# Your code here:
import scipy.stats as stats

dif = pokemon['Defense'] - pokemon['Attack']


t_test, p_value = stats.ttest_1samp(dif, 0)

print(t_test, p_value)

-4.325566393330478 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: