# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [22]:
#pokemon['Total'][pokemon['Legendary'] == False].mean()

417.21360544217686

In [103]:
pokemon.groupby('Legendary', as_index = False).agg({'Total':['mean', 'std']})

  Legendary       Total
                   mean         std
0     False  417.213605  106.760417
1      True  637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [104]:
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

ttest_ind(pokemon[pokemon.Legendary == True]['Total'], pokemon[pokemon.Legendary == False]['Total'], equal_var = True)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
#El p-value es muy bajo por lo tanto rechazamos hipótesis nula

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [43]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [49]:
# Your code here:
pokemon.groupby(pokemon['Type 1']).describe()

              #                                                               \
          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  334.492754  210.445160   10.0  168.00  291.0  543.00  666.0
Dark       31.0  461.354839  176.022072  197.0  282.00  509.0  627.00  717.0
Dragon     32.0  474.375000  170.190169  147.0  373.00  443.5  643.25  718.0
Electric   44.0  363.500000  202.731063   25.0  179.75  403.5  489.75  702.0
Fairy      17.0  449.529412  271.983942   35.0  176.00  669.0  683.00  716.0
Fighting   27.0  363.851852  218.565200   56.0  171.50  308.0  536.00  701.0
Fire       52.0  327.403846  226.262840    4.0  143.50  289.5  513.25  721.0
Flying      4.0  677.750000   42.437209  641.0  641.00  677.5  714.25  715.0
Ghost      32.0  486.500000  209.189218   92.0  354.75  487.0  709.25  711.0
Grass      70.0  344.871429  200.264385    1.0  187.25  372.0  496.75  673.0
Ground     32.0  356.281250  204.899855   27.0  183.25  363.5  535.25  645.0
Ice        24.0  423.541667  175.465834  124.0  330.25  371.5  583.25  713.0
Normal     98.0  319.173469  193.854820   16.0  161.25  296.5  483.00  676.0
Poison     28.0  251.785714  228.801767   23.0   33.75  139.5  451.25  691.0
Psychic    57.0  380.807018  194.600455   63.0  201.00  386.0  528.00  720.0
Rock       44.0  392.727273  213.746140   74.0  230.75  362.5  566.25  719.0
Steel      27.0  442.851852  164.847180  208.0  305.50  379.0  600.50  707.0
Water     112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0

          Total              ...   Speed        Generation            \
          count        mean  ...     75%    max      count      mean
Type 1                       ...
Bug        69.0  378.927536  ...   85.00  160.0       69.0  3.217391
Dark       31.0  445.741935  ...   98.50  125.0       31.0  4.032258
Dragon     32.0  550.531250  ...   97.75  120.0       32.0  3.875000
Electric   44.0  443.409091  ...  101.50  140.0       44.0  3.272727
Fairy      17.0  413.176471  ...   60.00   99.0       17.0  4.117647
Fighting   27.0  416.444444  ...   86.00  118.0       27.0  3.370370
Fire       52.0  458.076923  ...   96.25  126.0       52.0  3.211538
Flying      4.0  485.000000  ...  121.50  123.0        4.0  5.500000
Ghost      32.0  439.562500  ...   84.25  130.0       32.0  4.187500
Grass      70.0  421.142857  ...   80.00  145.0       70.0  3.357143
Ground     32.0  437.500000  ...   90.00  120.0       32.0  3.156250
Ice        24.0  433.458333  ...   80.00  110.0       24.0  3.541667
Normal     98.0  401.683673  ...   90.75  135.0       98.0  3.051020
Poison     28.0  399.142857  ...   77.00  130.0       28.0  2.535714
Psychic    57.0  475.947368  ...  104.00  180.0       57.0  3.385965
Rock       44.0  453.750000  ...   70.00  150.0       44.0  3.454545
Steel      27.0  487.703704  ...   70.00  110.0       27.0  3.851852
Water     112.0  430.455357  ...   82.00  122.0      112.0  2.857143


               std  min   25%  50%   75%  max
Type 1
Bug       1.598433  1.0  2.00  3.0  5.00  6.0
Dark      1.353609  2.0  3.00  5.0  5.00  6.0
Dragon    1.431219  1.0  3.00  4.0  5.00  6.0
Electric  1.604697  1.0  2.00  4.0  4.25  6.0
Fairy     2.147160  1.0  2.00  6.0  6.00  6.0
Fighting  1.800601  1.0  1.50  3.0  5.00  6.0
Fire      1.850665  1.0  1.00  3.0  5.00  6.0
Flying    0.577350  5.0  5.00  5.5  6.00  6.0
Ghost     1.693203  1.0  3.00  4.0  6.00  6.0
Grass     1.579173  1.0  2.00  3.5  5.00  6.0
Ground    1.588454  1.0  1.75  3.0  5.00  5.0
Ice       1.473805  1.0  2.75  3.0  5.00  6.0
Normal    1.575407  1.0  2.00  3.0  4.00  6.0
Poison    1.752927  1.0  1.00  1.5  4.00  6.0
Psychic   1.644845  1.0  2.00  3.0  5.00  6.0
Rock      1.848375  1.0  2.00  3.0  5.00  6.0
Steel     1.350319  2.0  3.00  3.0  5.00  6.0
Water     1.558800  1.0  1.00  3.0  4.00  6.0

[18 rows x 72 columns]

In [120]:
no_water = pokemon[pokemon['Type 1'] != 'Water']['Total']
water = pokemon[pokemon['Type 1'] == 'Water']['Total']

In [121]:
water.describe()

count    112.000000
mean     430.455357
std      113.188266
min      200.000000
25%      328.750000
50%      455.000000
75%      502.250000
max      770.000000
Name: Total, dtype: float64

In [122]:
no_water.describe()

count    688.000000
mean     435.859012
std      121.091682
min      180.000000
25%      330.000000
50%      450.000000
75%      515.000000
max      780.000000
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [123]:
ttest_ind(no_water, water, equal_var=True, nan_policy = 'omit')

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#There are no siginificant difference between water and no water type.
#Pvalues is > to 0.05 so we don't reject the null hypothesis

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [126]:
# Your code here:
from scipy.stats import ttest_rel

ttest_rel(pokemon.Defense, pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#We reject null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [134]:
# Your code here:
sp_attack = pokemon['Sp. Atk']

In [135]:
sp_defense = pokemon['Sp. Def']

Describe the results of the test in the cell below.

In [136]:
# Your conclusions here:

ttest_rel(sp_attack, sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
#We reject null hypothesis so we accept an alternative value

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: