# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [27]:
# Your code here:
pokemon.groupby('Legendary').agg({'Total':['std','mean']})

                Total
                  std        mean
Legendary
False      106.760417  417.213605
True        60.937389  637.384615

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [22]:
# Your code here:
from scipy import stats
legendary = pokemon[pokemon['Legendary']==True]['Total']
nonlegendary = pokemon[pokemon['Legendary']==False]['Total']

stats.ttest_ind(legendary,nonlegendary,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [35]:
# Your conclusions here:
print('There is no significant difference according to the p value')

There is no significant difference according to the p value

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [40]:
# Your code here:
pd.pivot_table(
    pokemon,
    index=['Type 1'],
    aggfunc={'Name':'count'}
)

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [41]:
# Your code here:

pd.pivot_table(
    pokemon,
    index=['Type 1'],
    aggfunc={'Name':'count','Total':['mean','std']}
)

          Name       Total
         count        mean         std
Type 1
Bug         69  378.927536  117.875223
Dark        31  445.741935  109.126217
Dragon      32  550.531250  146.267538
Electric    44  443.409091  105.721952
Fairy       17  413.176471  123.781680
Fighting    27  416.444444  102.464378
Fire        52  458.076923  109.760496
Flying       4  485.000000  161.400124
Ghost       32  439.562500  110.072685
Grass       70  421.142857  106.650626
Ground      32  437.500000  123.913081
Ice         24  433.458333  108.281027
Normal      98  401.683673  115.733038
Poison      28  399.142857   92.358687
Psychic     57  475.947368  139.026645
Rock        44  453.750000  108.059227
Steel       27  487.703704  115.420907
Water      112  430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [42]:
# Your code here:
from scipy import stats
water = pokemon[pokemon['Type 1']=='Water']['Total']
nonwater = pokemon[pokemon['Type 1']!='Water']['Total']

stats.ttest_ind(water,nonwater,equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [55]:
# Your conclusions here:
print('The null hypothis passed the pvalue is greater than 0.05 ')

The null hypothis passed the pvalue is greater than 0.05

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [47]:
# Your code here:
from scipy import stats

defense = pokemon['Defense']
attack = pokemon['Attack']

stats.ttest_rel(defense,attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [50]:
# Your conclusions here:
print('there is a big difference between attack and defense ')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [52]:
# Your code here:
from scipy import stats

especial_defense = pokemon['Sp. Def']
especial_attack = pokemon['Sp. Atk']

stats.ttest_rel(especial_defense,especial_attack)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
print('there is a difference between means of speacial defense and special attack')

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [54]:
# Your code here:
from scipy import stats

defense = pokemon['Defense']
attack = pokemon['Attack']

stats.ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:
obs = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
obs

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [25]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency(obs,lambda_="log-likelihood")

(3.4669802529502673,
 0.06260550313805192,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [22]:
# Your answer here:
print('in this case the null hypothesis is not rejected because the value of p is 0.06')

in this case the null hypothesis is not rejected because the value of p is 0.06