# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [47]:
# Your code here:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [25]:
# Your code here:
x=pokemon['Legendary']
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
# Your code here:
Leg = pokemon[pokemon['Legendary'] == True]['Total']
Leg_mean=Leg.mean()
Leg_stdv=Leg.std()

NLeg = pokemon[pokemon['Legendary'] == False]['Total']
NLeg_mean=NLeg.mean()
NLeg_stdv=NLeg.std()

print("La media de Legendarios es: ",Leg_mean)
print("La desviacion estandar de Legendario es: ",Leg_stdv)
print("La media de No Legendarios es: ",NLeg_mean)
print("La desviacion estandar de No Legendario es: ",NLeg_stdv)

La media de Legendarios es:  637.3846153846154
La desviacion estandar de Legendario es:  60.93738905315344
La media de No Legendarios es:  417.21360544217686
La desviacion estandar de No Legendario es:  106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
# Your code here:
from scipy.stats import ttest_ind
x
ttest_ind(Leg,NLeg,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#Debido a que el valor de P es menor a 0.05 entonces rechazamos la hipótesis nula. Por lo tanto, 
#sabemos que hay una diferencia significativa entre el grupo Legendario y el grupo No Legendario.
#En el analisis de medias y desviaciones vemos que el grupo de legendarios tiene una media mas alta
#y una desviacion mas baja, esto genera diferencias significativas.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [44]:
# Your code here:
watpok = pokemon[pokemon['Type 1'] == 'Water']['Total']
wat_mean = watpok.mean()
notwat = pokemon[pokemon['Type 1'] != 'Water']['Total']
notwat_mean = notwat.mean()
print("Water Pokemons media: ", wat_mean)
print("Not Water Pokemons media: ", notwat_mean)

Water Pokemons media:  430.45535714285717
Not Water Pokemons media:  435.85901162790697

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [45]:
# Your code here:
ttest_ind(watpok,notwat)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#La hipotesis nula no se rechaza puesto que p value es mayor a alpha.
#No existe diferencia estadisticamente significativa entre ambas muestras.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [49]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# No existe diferencia significativa entre las dos muestras.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [50]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# No existe diferencia significativa entre las dos muestras. Dado que el p value es mayor que .05

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [63]:
# Your code here:
from scipy.stats import ttest_1samp 
dif = pokemon['Attack'] - pokemon['Defense'] 
print("Equivalente de prueba de 1 muestra: ", ttest_1samp(dif, 0))
print("----------------------------------------------------------------------")
print("Equivalente de prueba de 2 muestras dependientes: ", ttest_rel(pokemon['Attack'], pokemon['Defense']))
#Los resultados son iguales

Equivalente de prueba de 1 muestra:  Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)
----------------------------------------------------------------------
Equivalente de prueba de 2 muestras dependientes:  Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: