# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [39]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
from scipy.stats import t, sem
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [8]:
# Your code here:
pokemon.tail(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [14]:
# Your code here:
pokemon_regular = pokemon[pokemon['Legendary'] == False]
print(f'Number of non-legendary pokemons: {pokemon_regular.shape[0]}')
pokemon_legendary = pokemon[pokemon['Legendary'] == True]
print(f'Number of legendary pokemons: {pokemon_legendary.shape[0]}')

Number of non-legendary pokemons: 735
Number of legendary pokemons: 65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [18]:
# Your code here:
regular_points_mean = pokemon_regular.Total.mean()
regular_points_std = pokemon_regular.Total.std()
legendary_points_mean = pokemon_legendary.Total.mean()
legendary_points_std = pokemon_legendary.Total.std()
regular_points_mean - legendary_points_mean # es absolutamente evidente que vamos a rechazar la hipótesis nula...

-220.1710099424385

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [21]:
# Your code here:
# Hipótesis nula: la media de ambos grupos es la misma.
t, pvalue = ttest_ind(pokemon_regular.Total, pokemon_legendary.Total, equal_var=False)

if pvalue<.05:
    print(f'Since P-value={round(pvalue*100,5)}% is < 5%, rechazamos la hipótesis nula')
else:
    print(f'Since P-value={round(pvalue*100,5)}% is > 5%, we accept the null hypothesis')

Since P-value=0.0% is < 5%, rechazamos la hipótesis nula

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# existe diferencia diferencia significativa entre la media de ambos grupos con 99% de significancia.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [26]:
# Your code here:
pokemon_water = pokemon[pokemon['Type 1'] == 'Water']
pokemon_water.Total.mean()
pokemon_water.Total.std()
pokemon_nonwater = pokemon[pokemon['Type 1'] != 'Water']
pokemon_nonwater.Total.mean()
pokemon_nonwater.Total.std()
mean_diff = pokemon_water.Total.mean() - pokemon_nonwater.Total.mean()
std_diff = pokemon_water.Total.std() - pokemon_nonwater.Total.std()

print(f'Difference in means: {mean_diff}')
print(f'Difference in standard deviation: {std_diff}')

Difference in means: -5.403654485049799
Difference in standard deviation: -7.903416237766081

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [30]:
# Your code here:
# Hipótesis nula: la media de ambos grupos es la misma.
t, pvalue = ttest_ind(pokemon_water.Total, pokemon_nonwater.Total, equal_var=True)

if pvalue<.05:
    print(f'Since P-value={round(pvalue*100,5)}% is < 5%, rechazamos la hipótesis nula')
else:
    print(f'Since P-value={round(pvalue*100,5)}% is > 5%, we do not reject the null hypothesis')

Since P-value=65.8714% is > 5%, we do not reject the null hypothesis

Write your conclusion below.

In [10]:
# Your conclusions here:
# no podemos rechazar la hipótesis de que la media de ambos grupos es la misma.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
# Your code here:
# Hipótesis nula: the defense and attack scores of each Pokemon are equal
t, pvalue = ttest_rel(pokemon.Attack, pokemon.Defense)

if pvalue<.05:
    print(f'Since P-value={round(pvalue*100,5)}% is < 5%, rechazamos la hipótesis nula')
else:
    print(f'Since P-value={round(pvalue*100,5)}% is > 5%, we do not reject the null hypothesis')

Since P-value=0.00171% is < 5%, rechazamos la hipótesis nula

Describe the results of the test in the cell below.

In [36]:
# Your conclusions here:
# Con un 95% de significancia, rechazamos la hipótesis de que el score de ataque y defensa es el mismo para cada Pokemon. 
pokemon.Attack.mean() - pokemon.Defense.mean()

5.158749999999998

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [34]:
# Your code here:
# Hipótesis nula: the special defense and special attack scores of each Pokemon are equal

t, pvalue = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

if pvalue<.05:
    print(f'Since P-value={round(pvalue*100,5)}% is < 5%, rechazamos la hipótesis nula')
else:
    print(f'Since P-value={round(pvalue*100,5)}% is > 5%, we do not reject the null hypothesis')

Since P-value=39.33686% is > 5%, we do not reject the null hypothesis

Describe the results of the test in the cell below.

In [35]:
# Your conclusions here:
# En esta ocasión, no podemos rechazar la hipótesis. 
pokemon['Sp. Atk'].mean() - pokemon['Sp. Def'].mean()

0.9174999999999898

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [38]:
# Your code here:
pob = 0 # Hipótesis nula: H0: μd = 0 ('ambos' grupos son iguales). 
t, pvalue = ttest_1samp(pokemon.Attack-pokemon.Defense, pob)  
round(pvalue*100,5) # Same as before.

0.00171

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [41]:
# Your code here:
# pd.crosstab(renglones, columnas)
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'], margins=True, margins_name="Total")
contingency_table

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
Legendary,,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108,735
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4,65
Total,69,31,32,44,17,27,52,4,32,70,32,24,98,28,57,44,27,112,800

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [45]:
# Your code here:
chi2, pvalue, dof, expected = chi2_contingency(contingency_table, correction=True, lambda_=None)

if pvalue<.05:
    print(f'Since P-value={round(pvalue*100,5)}% is < 5%, rechazamos la hipótesis nula')
else:
    print(f'Since P-value={round(pvalue*100,5)}% is > 5%, we accept the null hypothesis')

Since P-value=0.00014% is < 5%, rechazamos la hipótesis nula

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
# Yes we should