# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [87]:
# Your code here:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [12]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [22]:
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [4]:
pokemon.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
# Your code here:
Legendary = pokemon.groupby(['Legendary'])['Total'].agg({
    'Promedio':'mean',
    'Desviación':'std'
}).reset_index()
Legendary

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

   Legendary    Promedio  Desviación
0      False  417.213605  106.760417
1       True  637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [34]:
# Your code here:
from scipy import stats

In [52]:
uno = Legendary.Promedio
dos = Legendary.Desviación

In [53]:
stats.ttest_ind(uno, dos)

Ttest_indResult(statistic=3.943726701869016, pvalue=0.05869280509064804)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#estamos revisando que sean dos muestras independientes 
#desde la perspectiva de los promedios, 
#y no podemos rechazar la hipotesis puesto que el valor
#de p es mayor a .05 en .008

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [213]:
# Your code here:
tipos = pd.DataFrame(pokemon.groupby(['Type 1'])['Type 1'].count().sort_values(ascending = False))
tipos

          Type 1
Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Rock          44
Electric      44
Ground        32
Dragon        32
Ghost         32
Dark          31
Poison        28
Steel         27
Fighting      27
Ice           24
Fairy         17
Flying         4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [130]:
# Your code here:
agua = tipos[:1].agg({
    'Type 1':{
    'Promedio':'mean',
    'Desviacion':'std'
    }
})
agua = agua.fillna(0).T.rename(index= {'Type 1':'agua'})
agua

      Desviacion  Promedio
agua         0.0     112.0

In [126]:
waterless = tipos[1:].agg({
    'Type 1':{
    'Promedio':'mean',
    'Desviacion':'std'
    }
})
waterless = waterless.T
waterless.rename(index= {'Type 1':'Waterless'}, inplace = True)

In [127]:
waterless

           Desviacion   Promedio
Waterless   22.915927  40.470588

In [131]:
todos = pd.concat([agua, waterless], ignore_index = False)
todos

           Desviacion    Promedio
agua         0.000000  112.000000
Waterless   22.915927   40.470588

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [217]:
# Your code here:
WT = pokemon[pokemon['Type 1']=='Water']
NWT = pokemon[pokemon['Type 1']!='Water']

In [216]:
stats.ttest_ind(WT.Total,NWT.Total, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#Conforme al pvalue, que es mucho más grande al alpha establecida en nuestra prueba (.05) de 
#confianza, tenemos que no existe una diferencia significativa en las dos muestras

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [218]:
# Your code here:
stats.ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#El valor de los Pvalues es muuuy pequeño comparado al alpha de .05, 
#por lo tanto rechazamos la hipotesis de que los valores de ataque y defensa 
#(promedio) sean iguales

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [219]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#no rechazamos la hipotesis nula
#la diferencia entre las variables  Sp. Def y Atk, son iguales estadisticamente,
#al tener un p value mayor de 0.05

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [220]:
# Your code here:
stats.ttest_1samp(pokemon.Defense - pokemon.Attack, 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [221]:
# Your answer here: